.demo {
  font-size: 16px;
  line-height: 1.5;
  background: -moz-linear-gradient(top, #ba9b9a 1px, transparent 1px);
  background-image: -webkit-linear-gradient(#ba9b9a 1px, transparent 1px);
  background-size: 100% 24px;
}
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption {
  margin: 0 0 1.5 em 0;
}
