<div class="mod mod-about">
	<div class="inner">
		<div class="hd">
			<h4 class="h2">About</h4>
		</div>
		<div class="bd">
			<p>
				My name is Yuya Saito and I work at <a href="http://www.cyberagent.info/">CyberAgent</a> in Tokyo, Japan. I love to build things to solve problems.
			</p>
			<p>
				This site is for me to learn new things by <strong>failing</strong>.<br>
				I hate to fail, but also I believe that's the only way to learn.
			</p>
		</div>
	</div><!-- inner -->
</div><!-- mod -->
