// ==========================================================================
// config
// ==========================================================================

// Syntax Highlighter
coderay               = false

// grid
column-width          = 60px
gutter-width          = 30px
columns               = 10

// text-color
text-dark             = #302c25
text-fade             = #545a60
text-light            = #fafafa
text-red              = #cc092f

// background
bg-light              = #f9f9f7
bg-dark               = #282828

// texture
texture-light         = t-brightsquares
texture-dark          = t-navy_blue
