// Settings
// Override this settings via something like site-settings.styl

$font-size = 16px
$ratio = 1.5
// defalut 16 * 1.5 = 24

// mixins: font-sizing with rem
font-size(n)
	if unit(n) is 'px'
		font-size: n
		font-size: (remove-unit(n) / 10) rem
	else
		error('Use px as unit')

line()
	if arguments is a 'unit'
		result = arguments * ($font-size * $ratio)
		return (remove-unit(result) / 10) rem
	else
		warn('argument shold be unit');

.demo {
	font-size: $font-size;
	line-height: $ratio;
	background: -moz-linear-gradient(top, #BA9B9A 1px, transparent 1px );
	background-image: -webkit-linear-gradient(#BA9B9A 1px, transparent 1px);
	background-size: 100% ($font-size * $ratio);
	// background: url('http://www.baselineme.com/24') center top repeat
}

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption {
	margin-bottom: line(1)
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	
}
h1,
.h1 {
	font-size: 
}
h2,
.h2 {
	
}
h3,
.h3 {
	
}
h4,
.h4 {
	
}
h5,
.h5 {
	
}
h6,
.h6 {
	
}
small, .small {
	
}
